.container{
    display: grid;
    grid: "cabecalho cabecalho cabecalho" 100px
          "corpo botoes imagem" auto
         "rodape rodape rodape" 95px
         /470px auto auto;
}

.cabecalho{
    grid-area: cabecalho;
}
.corpo{
    grid-area: corpo;
}

.botoes{
    grid-area: botoes;
}

.rodape{
    grid-area: rodape;
}

.imagem{
    grid-area: imagem;
}





body{
    background-color: #ffe9c9;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background-color: #dc5f00 ;
    color: white;
    font-family: Bodoni Moda SC;
  
}

.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    color: #545454;
    
}
 h2{
    font-family: Corinthia;
    font-weight: 900;
    font-size: 2.0rem;
    margin: 10px;
 }

 p{
   
    font-family: EB Garamond; 
    font-weight: 400;  
    margin: 20px; 
    text-align: center;
 }

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.botao{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    background-color: #dc5f00 ;
    color: white;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center; 
    font-family: Bodoni Moda SC;
    border: none;
}
.botao:hover{
    background-color: rgb(221, 116, 55);
}

a{
    text-decoration: none;
    text-decoration-color: none;
}

.imagem{
    display: flex;
    flex-direction: row;
    justify-content: flex-end ;
  

}
.rodape{
    display: flex;
    flex-direction: column;
   justify-content: center;
}

